<%- include("templates/header") %> 
<h1> Hello world</h1>
<h1>Welcome to my site</h1>
        <p>Please sign up or log in</p>
        <ul>
          <li><a href="/signup" style="border: solid; background-color: rgb(185, 127, 239); color: aliceblue; padding-right: 3px;">Sign up</a></li>
          <li><a href="/login" style="border: solid; background-color: rgb(185, 127, 239); color: aliceblue; padding: 1px;">Log in</a></li>
        </ul>
<%- include("templates/footer") %> 