<%- include("templates/header") %> 

<div style="width: 50%; margin: 0 auto;"> Login page:
<form action='/logingin' method='post'>
    <input name='email' type='text' placeholder='email' style="border: solid; border-color: rgb(234, 65, 234);">
    <input name='password' type='password' placeholder='password' style="border: solid; border-color: rgb(234, 65, 234);">
    <button style="background-color: rgb(255, 168, 248); border: solid; border-color: rgb(224, 157, 224);">login</button>
</form>
</div>
<%- include("templates/footer") %> 
