<head>
    <footer>
        <br><br><br>
        <div class="copyright" style="text-align: center;">
          &copy; 2023 ParinRava All rights reserved.
        </div>
      </footer>
      

</body>
</html>